header
    padding: 20px 0
    background-color: #000
    position: fixed
    width: 100%
    top: 0
    z-index: 100
    a
        .imgbox
            width: 140px
            img
                &:hover
                    cursor: pointer
    nav
        a
            color: #fff
            margin-left: 40px
            &:hover
                cursor: pointer
        i
            font-size: 0
@media screen and ( max-width: 992px )
    header
        nav
            a
                display: none
            i
                font-size: 25px
                color: #ffff
                &:hover
                    cursor: pointer
